.device {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid grey;
  cursor: pointer;
}

.device:hover, .active {
  background-color: var(--primary);
  border-color: var(--primary);
}