:root {
  --pmlevel1: #D9EAC7;
  --pmlevel2: #A8D398;
  --pmlevel3: #EBF7F5;
  --pmlevel4: #FEF301;
  --pmlevel5: #F7AB05;
  --pmlevel6: #EF6D01;
  --pmlevel7: #F6B3C5;
  --pmlevel8: #EE6D82;
  --pmlevel9: #E70458;
  --pmlevel10: #E70012;
}