.liveDataBlock {
  line-height: 25px;
}

.iconBackground {
  height: 50px;
  width: 50px;
  position: relative;
}

.icon {
  color: white;
  position: absolute;
}

.title {
  font-size: 0.95em;
  height: 24px;
  line-height: 24px;
}

.data {
  font-size: 2.2em
}

.signal {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #50B83C;
}