.building {
  min-width: 244px;
  min-height: 512px;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../static/images/building.png');
  position: relative;
}

.building-disable {
  opacity: 0.2;
}